<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <title>ProverbsWisdom</title>
</head>
<body id="body">
    <div class="top-buttons", id="btn-container">
        <button class="top-button read-book" id="book-btn">Read the book</button>
        <!-- <button class="top-button login-btn" id="login-btn">Log In</button>
        <button class="top-button signup-btn" id="signup-btn">Sign Up</button>
        <a id="menu-btn">
            <img src="static/menu-svgrepo-com.svg" alt="menu" class="top-button open-menu-btn">
        </a> -->
    </div>

    <div id="side-menu" class="side-menu">
        <a class="close-btn" id="close-btn">&times;</a>
        <a class="a-menu-btn" id="old-convo-btn">Older Conversations</a>
        <a class="a-menu-btn" id="logout-btn">Logout</a>
    </div>

    <div id="old-convo-div" class="old-convo-div">
        <a class="close-btn" id="old-convo-close-btn">&times;</a>
        <!-- <a class="a-menu-btn">Older Conversation 1</a>
        <a class="a-menu-btn">Older Conversation 2</a>
        <a class="a-menu-btn">Older Conversation 3</a> -->
    </div>

    <div class="book-reading-div" id="book-reading-div">
        <iframe src="book.html" frameborder="0" class="book-reading" id="book-reading"></iframe>
    </div>

    <div class="main-content">
        <h1>Tune Into Timeless Wisdom</h1>

        <div class="main-input-area" id="reference-preview-insertion-point">
            <textarea class="main-input" rows="1" autocomplete="on" placeholder="Enter your question here..." id="input-textarea"></textarea>

            <div class="reference-input" id="reference-controls-insertion-point">
                <span class="reference-label">Include a reference:</span> 
                <label for="reference" class="switch reference-element">
                    <input type="checkbox" class="reference-checkbox" id="reference">
                    <span class="slider"></span>
                </label>

                <!-- <div class="reference-text reference-element">Proverbs</div>

                <select class="reference-select-input reference-element">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>

                <div class="reference-element two-points">:</div>

                <select class="reference-select-input reference-element">
                    <option value="0">0</option>
                </select>

                <div class="reference-element dash-line">-</div>

                <select class="reference-select-input reference-element">
                    <option value="0">0</option>
                </select> -->
            </div>

            <!-- <div class="reference-preview"></div> -->
        </div>
    </div>

    <script src="static/ReferenceController.js"></script>
    <script src="static/StartChatting.js"></script>
    <script src="static/index.js"></script>
</body>
</html>