body{
    background-color:#074475;
    color: #FBF5F3;
}

.header{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 25px;
}

h1{
    font-family: cursive;
    font-size: xx-large;
    color: #FBF5F3;
}

select{
    background-color: #6498BD;
    border: 5px solid #074475;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-size: x-large;
    color: #FBF5F3;
    cursor: pointer;
}

.main-content{
    font-family: cursive, sans-serif;
    font-size: large;

    padding: 35px;
}