body {
    color: #FBF5F3;
    background-color: #074475;
}

.top-buttons {
    display: flex;
    justify-content: flex-end;
}

.top-button {
    margin: 10px 10px 10px 10px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-align: center;

    padding: 5px 20px;
    border-radius: 15px;

    transition: 0.5s;
    cursor: pointer;
}

.login-btn{
    background-color: #074475;
    color: #BBF9E5;

    border-color: #BBF9E5;
    border-width: 5px;

    border-style: solid;
}

.login-btn:hover {
    background-color: #BBF9E5;
    color: #074475;
}

.signup-btn{
    background-color: #BBF9E5;
    color: #074475;

    border-color: #BBF9E5;
    border-width: 5px;

    border-style: solid;
}

.signup-btn:hover {
    background-color: #074475;
    color: #BBF9E5;
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #074475;
    
    transition: 0.5s;
}

.menu-btn:hover {
    background-color: #053155;
    border-color: #053155;
}

.menu-btn {
    width: 30px;
    height: 45px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: "Playwrite AU QLD", cursive;
    text-align: center;
    font-size: 2em;
    margin-top: 20vh;
}

.main-input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50vh;
}

.main-input{
    display: flex;
    background-color: #6498BD;
    width: 60vw;
    height: 5vh;
    border: 20px solid #6498BD;
    border-radius: 1em;
    margin-bottom: 15px;
    color: #FBF5F3;
    font-size: 1em;
    font-family: cursive;
    overflow: hidden;
    resize: none;
}

.main-input::placeholder {
    color: #fbf5f3bb;
    align-items: center;
    font-family: cursive;
}

.reference-input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    margin-top: 15px;
    width: 60vw;
}

.reference-label, .reference-checkbox {
    margin: 0 10px 0 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #BBF9E5;
}

input:checked + .slider:before {
    transform: translateX(23px);
    background-color: #F7F42A;
}

.reference-element {
    margin: 0 5px 0 5px;
    font-size: 1em;
    font-family: cursive;
}

.reference-select-input{
    background-color: #6498BD;
    border: 5px solid #6498BD;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-size: large;
    color: #FBF5F3;
    cursor: pointer;
}

.two-points{
    font-weight: bolder;
}

body > div.main-content > div > div > div.reference-text.reference-element{
    margin-left: 15px;
}

.reference-preview{
    background-color: #6498BD;

    font-family: cursive, sans-serif;
    font-size: large;

    margin-top: 30px;
    border-radius: 20px;
    padding: 25px;

    width: 50vw;
    max-height: 30vh;

    overflow-y: auto;
}