body {
    color: #FBF5F3;
    background-color: #074475;
}

.top-buttons {
    display: flex;
    justify-content: flex-end;
}

.top-button {
    margin: 10px 10px 10px 10px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-align: center;

    padding: 5px 20px;
    border-radius: 15px;

    transition: 0.5s;
    cursor: pointer;
}

.login-btn{
    background-color: #074475;
    color: #BBF9E5;

    border-color: #BBF9E5;
    border-width: 5px;

    border-style: solid;
}

.login-btn:hover {
    background-color: #BBF9E5;
    color: #074475;
}

.signup-btn{
    background-color: #BBF9E5;
    color: #074475;

    border-color: #BBF9E5;
    border-width: 5px;

    border-style: solid;
}

.signup-btn:hover {
    background-color: #074475;
    color: #BBF9E5;
}

.read-book{
    background-color: #074475;
    color: #BBF9E5;
    border: none;
}

.read-book:hover{
    background-color: #053155;
    border-color: #053155;
}

.clicked{
    background-color: #BBF9E5;
    border-color: #BBF9E5;
    color: #074475;
}

.clicked:hover{
    background-color: #074475;
    border-color: #BBF9E5;
    color: #BBF9E5;
}

.open-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #074475;
    width: 30px;
    height: 45px;

    transition: 0.5s;
}

.open-menu-btn:hover {
    background-color: #053155;
    border-color: #053155;
}

/* Side menu styles */
.side-menu, .old-convo-div{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgba(5, 49, 85, 0.5);
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.a-menu-btn {
    padding: 8px 8px 8px 32px;
    margin: 15px 0 15px 0;

    text-decoration: none;
    font-size: larger;
    color: #FBF5F3;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}

.a-menu-btn:hover, #close-btn:hover {
    color: #f1f1f1;
    background-color: rgba(255, 255, 255, 0.1);
}

#close-btn, #old-convo-close-btn {
    font-size: larger;
    color: #FBF5F3;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;

    transition: 0.5s;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
    margin-left: 50px;
    margin-top: 10px;
}

.side-menu, .old-convo-div{
    position: absolute;
    top: 0;
    right: 0;
    font-size: larger;
    margin-left: 50px;
}

.book-reading-div{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 1;
    margin-top: 40px;

    width: 0vw;
    height: 0vh;

    transition: 0.5s;
}

.book-reading{
    width: 90%;
    height: 100%;

    border-radius: 15px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: "Playwrite AU QLD", cursive;
    text-align: center;
    font-size: 2em;
    margin-top: 20vh;
}

.main-input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50vh;
}

.main-input{
    resize: none;
    overflow: hidden;
    min-height: 1lh;
    min-width: 1em;

    background-color: #6498BD;
    width: 60vw;
    height: 1lh;

    border: 20px solid #6498BD;
    border-radius: 1em;
    margin-bottom: 30px;

    color: #FBF5F3;
    font-size: larger;
    font-family: cursive;
}

.main-input::placeholder {
    color: #fbf5f3bb;
    align-items: center;
    font-family: cursive;
}

.reference-input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    width: 60vw;
}

.reference-label, .reference-checkbox {
    margin: 0 10px 0 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #BBF9E5;
}

input:checked + .slider:before {
    transform: translateX(23px);
    background-color: #F7F42A;
}

.reference-element {
    margin: 0 5px 0 5px;
    font-size: 1em;
    font-family: cursive;
}

.reference-select-input{
    background-color: #6498BD;
    border: 5px solid #6498BD;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-size: large;
    color: #FBF5F3;
    cursor: pointer;
}

.two-points{
    font-weight: bolder;
}

body > div.main-content > div > div > div.reference-text.reference-element{
    margin-left: 15px;
}

.reference-preview{
    background-color: #6498BD;

    font-family: cursive, sans-serif;
    font-size: large;

    margin-top: 30px;
    border-radius: 20px;
    padding: 25px;

    width: 50vw;
    min-height: 30vh;

    overflow-y: auto;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #close-btn {
        padding: 20px 20px 20px 20px;
    }

    h1 {
        font-size: 2em;
        margin-top: 10vh;
    }

    .reference-input {
        flex-direction: column;
    }

    .reference-element{
        margin: 5px 0 5px 0;
    }
    
    .reference-label{
        margin-bottom: 5px;
    }

    body > div.main-content > div > div > div.reference-text.reference-element{
        margin-left: 0px;
    }
}

@media screen and (max-width: 480px) {
    .top-buttons {
        display: flex;
        justify-content: center;
    }

    #close-btn {
        padding: 20px 20px 20px 20px;
    }

    .a-menu-btn {
        font-size: medium;
    }

    h1 {
        font-size: 2em;
        margin-top: 5vh;
    }

    .main-input{
        width: 70vw;
        font-size: medium;
    }

    .reference-input {
        flex-direction: column;
    }

    .reference-element{
        margin: 5px 0 5px 0;
    }
    
    .reference-label{
        margin-bottom: 5px;
    }

    body > div.main-content > div > div > div.reference-text.reference-element{
        margin-left: 0px;
    }
}
